*{
    direction: rtl;
    box-sizing: border-box;
    list-style: none;
}
body{
    direction: rtl;
    font-family: IRANSans;
    font: 14pt;
    text-align: justify;
    line-height: 26px;
    background-color: #fff;
    color: #666;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
h1 {
    font-size: 36px; }
  
h2 {
    font-size: 30px; }
  
h3 {
    font-size: 24px; }
  
h4 {
    font-size: 18px; }
  
h5 {
    font-size: 14px; }
  
h6 {
    font-size: 12px; }
  
.h1, .h2, .h3, h1, h2, h3, .h4, .h5, .h6, h4, h5, h6 {
    margin: 0 0 15px 0; }
  

.variant-typeheader-1{
    background-color: #232f3e;
    min-height: 200px !important;
    display: block;
    background-size: cover;
}
.wrapper{
    direction: rtl;
    outline: none;
}
.container{
    width: 100%;
    background-size: cover;
}
.navbar-logo{
    float: right
}
.logo .img-responsive{
        margin-top: 60px;
        margin-right: 30px;
        float: right;
}
.main-menu{
    margin-top: 60px;
    margin-right: 30px;
    float: right;
    text-align: justify;
}

.main-menu li a:hover{
    color: red;
}
/*.megamenu > li .mega-menu-container{
    position: relative;
    min-height: 180px;
    min-width: 600px;
}*/
.caret{
    color: #fff;
}
#mynavbar >ul >li{
    display: inline-block;
    float: right;
    margin-left: 5px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    color: #fff;
}
#mynavbar >ul >li a{
    padding: 4px;
    display: inline-block;
    color: #fff;
    font-size:15px;
    padding: 5px;
    font-weight: 600;
}
#mynavbar>ul >li> ul{
    position: absolute;
    top: 100%;
    width:700px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
    background-color: #fff;
    display: none; 
    font-size: 15px;
    font-weight: 500;
    z-index: 100;
    margin-bottom: 20px;
    padding-top: 20px;
    min-height: 300px;
}

#mynavbar>ul >li> ul>li{
    display: block;

}
#mynavbar>ul >li> ul>li>a{
    display: block;
    padding: 8px;
    margin-right: 5px;
    margin-left: 20px;
    text-align: right;
    padding-right: 5px;
    color: #666;
}
#mynavbar>ul>li:hover ul{
    display: block;
}
#mynavbar>ul >li> ul a{
    color: #666;
    font-size: 11px;
}
#mynavbar>ul >li> ul a:hover{
    color: #ff3c20;
}
#mynavbar .megamenu .mega-menu-container .mega-menu .menu-page{
    min-width: 150px;
    min-height: 200px;
}
.shopcart .icon-c .fa{
    color: #232f3e;
}



















.middle-left{
    margin-top: -50px;
    margin-left: 10px;
    float: left;
}
.signin li a{
    overflow: auto;
    color: #fff;

}
.telephone a:hover, a:focus{
    color: #fff;
    text-decoration: none;
}
a:hover, a:focus {
    color: #ff3c20;
    text-decoration: none;
}
.fa {
    color: #fff;
    padding: 5px;
}
.all-category {
    min-height: 40px;
    background-color: #ff3c20;
    border: 1px solid #ff3c20;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    float: right;
    width: 248px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 32px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}
.all-category::before{
    content: "\f0c9";
    font-family: fontawesome;
    position: absolute;
    top: 8px;
    right: 15px;
    color: #fff;
}
.all-category::after{
    content: "\f107";
    font-family: fontawesome;
    position: absolute;
    top: 8px;
    left: 15px;
    color: #fff;
}
.all-category a:hover{
    color: #fff;
}

.search-header-w{
    position: relative;
    padding: 3px;
    
}

#sosearchpro .search button{
right: 0;
bottom:0;
height: 34px;
text-align: center;
line-height: 10px;
padding: 0 35px;
font-size: 14px;
color: #fff;
border-radius:0;
border: 1px solid #ff3c20;
background: #ff3c20;
border-radius: 4px 0  0 4px ;
}

#sosearchpro .select_category {
    position: relative;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    background: white;
    outline:none;
    text-align:center;
    padding-left:-5px;
    padding-right:2px;
}
.bottom2{
    float: right;
    width: 54%;
}

select{
    border:none;
}
.select_category{
    border-radius: 0 4px 4px 0 ;  
}

.sidebar-menu{
    text-align: justify;
    direction: rtl;
    float: right;
    overflow: initial;
    background-color: #fff;
    width: 80%;
    margin-right: 19px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: inline-block;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sidebar-menu> li{
    margin-bottom: 9px;
    padding-bottom: 7px;
    font-weight: 600;
}
.sidebar-menu> li >a{
    padding: 8px;
    padding-right: 15px;
    color: #444;
    cursor: pointer;
}
.sidebar-menu> li >a:hover{
    background-color: #fff;
    color: #ff3c20; 
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    width: 100%;
}
.sidebar-menu .fa{
    color: #444;
}
.sidebar-menu .fa:hover{
    color: #ff3c20;
}
#slider{
    left: 35%;
    margin-right: 26%;
    margin-top: 0px;
    width: 98%;
}

.banners{
    float: left;
    margin-left: 20px;
    margin-top: 0px;
}
.banners >.b-img{
    margin-bottom: 19px;
    margin-left: 20px;
}
.items{
    float: right;
    margin-right: 10px;
}
.picture{
    background:  #f1efef;
    margin-bottom: 20px;
    padding: 15px 15px 10px;
    text-align: center;
    min-height: 300px;
    margin-top: 10px;
}
.banner4{
    margin-right: 18px;
}
.gift-banner{
    margin-right: -67px;

}

.deals-layout1 {
    position: relative;
}
.module h3.modtitle {
border-bottom: 2px solid #eee;
display: inline-block;
width: 102%;
float: left;
position: relative;
margin-top: 0;
margin-bottom: 20px;
margin-left: 20px;
font-size: 16px;
color: #000;
font-weight: 700;
text-transform: uppercase;
}
.module h3  span {
font-size: 16px;
color: #fff;
font-weight: 700;
float: right;
text-transform: uppercase;
margin-bottom: 0px;
background-color: #232f3e;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
padding: 11px 20px;
position: relative;
bottom: -2px;
}
.slick-append {
    position: absolute;
    left: 30px;
}
.slick-append button {  
display: inline-block;
border-radius: 3px;
transform: translateY(-5px);
color: #333333;
border: none;
outline: none;
background-color:#fff;
border: 2px solid #ccc;
border-radius: 50%;
width: 28px;
height: 28px;
line-height: 22px;
text-align: center;
overflow: hidden;
cursor: pointer;
opacity: 1;
z-index: 99;
}
.slick-append button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}
.slick-list {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.grade-wrapper img{
    max-width:100%;
}
.product-info .product-title {   
 padding-bottom:20px;
}

.product-info .product-title a{
    color: #222;
    font-size: 18px;
    
}

.product-info .product-title a:hover{
    color:#ff3c20;  
}

.product-info .product-price{
    color:#ff3c20; 
    padding-bottom:20px; 
}

.add-to-cart .fa{
    color:#ff3c20; 
}
.a1 b{
    color:#ff3c20; 
      
}
.banner7 img{
    width: 976px;
    min-height: 120px;
    display: inline;
    margin-left:-20px;
}
h4.modtitle{
font-size: 16px;
color: #222;
font-weight: 700;
float: right;
text-transform: uppercase;
background-color: transparent;
padding: 0;
padding-bottom: 8px;
bottom: 0;
border-bottom: 2px solid #eee;
display: inline-block;
width: 100%;
position: relative;
margin-bottom: 7px;
margin-top:15px;
}

.item-info .item-title a{
       color: #222;
       font-size: 16px;
       
   }
   
   .item-info .item-title a:hover{
       color:#ff3c20;  
   }
   
   .item-info .item-price{
       color:#ff3c20; 
       
   }
   span.fa-stack .fa-stack-2x {
    font-size: 11px;
    color:#666;
    
   }
   span.fa-stack {
    width: 14px;
    height: 11px;
    line-height: 10px;
    font-size: 12px;
    margin-bottom:15px;
   }
   .block-infos li .inner {
    padding: 25px 0;
}
.block-infos li .inner i {
    font-size: 30px;
    padding-top: 8px;
    width: 50px;
    float:right;
    margin-right: 10px;
    text-align: center;
}
.block-infos li .inner {
padding:12px 0;
       
}
.block-infos {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
   
}
.info-cont a{
    color:#222;
    
}
.inner{
    border-bottom: 1px solid #ebebeb;
    
}
.inner .fa{
    color:#222;
}

.info-cont a:hover{
    color:#ff3c20;
}
.inner .fa:hover{
    color:#ff3c20;    
}

.blog-title{
    color:#222;
    margin-top:15px;
    margin-bottom:20px; 
    margin-right:40px;
    padding-bottom: 20px;
}
.blog-title a{
    color:#222;  

}
.blog-title .fa{
    color:#222;
    
}
.media-date-added{
    margin-top:10px;
    margin-left:5px;
}
 .label-product-sale {
    background-color: #ff3c20;
    right: 20px;
}
.label-product-sale {
    text-align: center;
    background-color: #ff3c20;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 20px;
    text-transform: uppercase;
    z-index: 9;
    padding: 0;
    margin-bottom: 5px;
}
  

.item-new-product .product{
    text-align: center;
    background-color: #f8f8f8;
    min-height: 270px;
}
.item-new-product2 .product{
    text-align: center;
    background-color: #f8f8f8;
    min-height: 270px;
}
.item-new-product .product .product-title a:hover{
    color: #ff3c20 !important;
}
.item-new-product2 .product .product-title a:hover{
    color: #ff3c20 !important;
}
.item-new-product .product-price,.item-new-product2 .product-price{
    font-size: 13px;
    color: #ff3c20;
}
.item-new-product span.fa-stack,.item-new-product2 span.fa-stack{
    margin-bottom: 30px;
}

.menu-link{
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}
.menu-link .middle-menu li{
    float: right;
    width: auto;
    margin-right: 12px;

}
.menu-link .middle-menu li a{
    display: block;
    padding: 5px;
    color:#666;
}
.menu-link .middle-menu li a:hover{
    color: #ff3c20;
}
/*.module h3.modtitle {
    border-bottom: 2px solid #eee;
    display: inline-block;
    width: 102%;
    float: left;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    }*/

.module .item-new-product .col-sm-2 {
    width: 20%;
}   
.product-price del {
    color: #999;
}
    
#content .container {
    margin-right: 0px;
    margin-left: 40px;
}

.banners8 .b1,.banners8 .b2{
    text-align: center;
    background-color: #f8f8f8;
    min-height: 210px;
}

.banners8 .b1 .product-price,.banners8 .b2 .product-price{
    color: #ff3c20;
}



.item-product3 .product-info{
    text-align: justify;
    background-color: #f8f8f8;
    min-height: 130px;
}
.item-new-product3{
    background-color: #f8f8f8;

}
.item-product3 .product-title a{
    font-size: 15px;
}


































.infos-footer li b{
    padding: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.infos-footer img {
    vertical-align: middle;
    margin-bottom: 25px;
    margin-top: 20px;
}

.infos-footer .fa{
    color: #222
}
.box-information{
    position: relative;

}
h3.modtitle {
    color: #222;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 25px !important;
    margin-top: 29px;
    text-transform: uppercase;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid #ff3c20;

}
/*.modtitle::after {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    left: 0;
    bottom: 0;
}
.modtitle >ul>li::marker{
    content: "\f107";
    color: #444;
    font-family: fontawesome;
    position: absolute;
    top: 12px;
    left: 10px;
}*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.so-page-builder .container-fluid {
    padding: 0;
    overflow: hidden;
}
.typefooter-1 .footer-top {
    background-color: #232f3e;
    padding: 37px 0;
    max-height: 150px;
}
.typefooter-1 .footer-top .ftop {
    margin: 0 auto;
    float: none;
    padding: 0;
}
body.layout-2 .container, body.layout-1 .container {
    max-width: 1650px;
    padding: 0;
    width: 96%;
}
.typefooter-1 .footer-top .ftop {
    margin: 0 auto;
    float: none;
    padding: 0;
}

.col-lg-8{
    float:left;
}

.typefooter-1 .footer-top .ftop .col-lg-8 {
    width: 75%;
}
.typefooter-1 .newsletter-footer1 .newsletter {
    background-color: transparent !important;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    width: 45%;
}
/*.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    position: relative;
    color: #fff;
    float: right;
    width: 40%;
    padding-left: 70px;
    margin-top: 17px;
}*/

.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    position: relative;
    color: #fff;
    float: left;
    width: 40%;
    padding-left: 70px;
    margin-top: 17px;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f1d9";
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 0;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    color: #fff;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block .page-heading {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block .promotext {
    font-size: 14px;
}

.typefooter-1 .newsletter-footer1 .newsletter .block_content {
    float: right;
    width: 60%;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup {
    display: block;
    margin-top: 11px;
    padding-left: 45px;
}
.form-group {
    margin-bottom: 15px;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group {
    position: relative;
}
.newsletter .form-inline .form-group {
    display: block;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group .input-box {
   
    vertical-align: top;
    padding-right: 100px;
    border-radius: 4px;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group #txtemail {
    height: 50px;
    line-height: 50px;
    width: 100%;
    box-shadow: none;
    padding: 0 0 0 20px;
    border: none;
    background-color: #fff;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group .subcribe {
    position: absolute;
    top: 0;
    left: 0;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f1d9";
    font-size: 40px;
    position: absolute;
    top: 5px;
    left:60px;
}

.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {

border: 0 none;
color: #fff;
font-weight: 700;
font-size: 16px;
height: 50px;
line-height: 50px;
padding: 0 17px;
text-transform: capitalize;


}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {
background-color: #ff3c20;

}
.btn-default {

background: #ff3c20;
background-color: rgb(255, 60, 32);
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;

}

footer #collapse-footer {
    display: block;}
.typefooter-1 .footer-top .ftop .col-lg-4 {
width: 25%;
}
.col-lg-4 {
width: 33.33333333%;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
}


.col-lg-8{
float: left;
}
.typefooter-1 .socials {
    float: left;
    margin-top: 25px;
    }
    
    .typefooter-1 .socials li {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    margin-left: 18px;
    }
    
    a, a:visited, a:active, a:link, a:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    }
.typefooter-1 .socials li a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    }
    .typefooter-1 .socials li a i {
    display: inline-block;
    font-size: 16px;
    margin-right:2px;
    padding:0;
    }
.typefooter-1 .socials li a i:hover{
    color:#ff3c20;
    }
    
    .typefooter-1 .socials li a span {
        display: none;
    }
    
    
    .fa-facebook-f::before {
        content: "\f09a";
    }
    .fa-google-plus::before {
        content: "\f0d5";
    }
    .fa-twitter::before {
        content: "\f099";
    }

.typefooter-1 .socials li::before {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    content: "";
    height: 10px;
    position: absolute;
    left: 0;
    top: 8px;
    width: 1px;
}
.menu>li{
    padding-bottom: 10px;
}
.menu>li>a{
    color: #444;
}
.menu>li>a:hover{
    color: #ff3c20;
    cursor: pointer;
}
.instagram-items-inner img{
    max-height: 100px;
    max-width: 100px;
    padding: 3px;

}

